= content_for :title, "Stasheyboard: Account Portal"
.row
  .ten.columns.centered
    #rss_feed= link_to image_tag("feed-icon-14x14.png"), "http://www.feedburner.com"
    %h3 Account Portal
.row
  .ten.columns.centered#content
    %table#account_portal
      %thead
        %tr
          %th.time Time
          %th Status
          %th Message
      %tbody
        - @services.each do |service|
          %tr
          %td= service.name
          %td= current_status(service.id)
          %td= message_helper(service.id)
      
