= content_for :title, "Stasheyboard Service Panel"
.row
  .ten.columns.centered
    #rss_feed.hide-for-small= link_to image_tag("feed-icon-14x14.png"), "http://www.feedburner.com"
    %h4= "Service: #{@service.name}"
.row
  .ten.columns.centered#content
    %table#account_portal
      %thead
        %tr
          %th.time Time
          %th Status
          %th Message
      %tbody
        - @statuses.each do |status|
          %tr
          %td= status_time_presenter(status)
          %td= image_for_status(status.name)
          %td= status_message_helper(status)
          
= render 'layouts/contact_links'
      
