%table.responsive#services
  %thead
    %tr
      %th Current Servers
      %th{:class => "today"} Current
      - (1..6).each do |n|
        %th= date_helper(n)
  %tbody
    - @services.each do |service|
      %tr
        %td= link_to service.name, service
        %td= service_status_at(service.id, "#{Time.zone.now}")
        %td= service_status_at(service.id, "#{Time.zone.now - (1.day)}")
        %td= service_status_at(service.id, "#{Time.zone.now - 2.days}")
        %td= service_status_at(service.id, "#{Time.zone.now - 3.days}")
        %td= service_status_at(service.id, "#{Time.zone.now - 4.days}")
        %td= service_status_at(service.id, "#{Time.zone.now - 5.days}")
        %td= service_status_at(service.id, "#{Time.zone.now - 6.days}")
        %td= button_to 'Delete Service?', service, confirm: 'Are you sure?', method: 'delete'
