%header#page_header.hide-for-small
  .row
    .eleven.columns.centered
      = image_tag("logo.png", :alt => "Logo", :id => 'logo_image', :size => "64x64")
      #root_link
        = link_to "Stasheyboard", root_path
      #email
        = link_to "Report an issue", href="mailto:help@stashboard.org", :class => "small round secondary button"
%header#page_header.show-for-small
  .row
    .four.columns.centered
      = image_tag("logo.png", :alt => "Logo", :id => 'logo_image', :size => "48x48")
      #root_link.small
        = link_to "Stasheyboard", root_path
