!!!
%html
	%head
		%meta{ :charset => "utf-8" }
		%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
		%title= content_for?(:title) ? yield(:title) : "Stasheyboard"
		= stylesheet_link_tag "application"
		= javascript_include_tag "application"
		= csrf_meta_tags

	%body
		.row
			.twelve.columns
				= render 'layouts/header'
				= render 'layouts/messages'
		.row
			.twelve.columns
				= yield
		.row
			.ten.columns
			= render 'layouts/footer'
